.card-box{
    margin: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: antiquewhite;
}
.nama{
    font-size: x-large;
}

.card-left{
    margin: 12px;
}
.card-right{
    /* border: 1px solid; */
    display: flex;
    justify-content: end;
    align-items: center;
}

.hobby{
    font-size: x-large;
    display: flex;
    align-items: center;
    margin: 12px;
}

.empty{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    background-color: antiquewhite;
}

.search{
    display:flex;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: aliceblue;
    padding-top: 16px;
    padding-left: 16px;
}

.view{
    margin: 0;
    width: 100%;
    height: 300px;
    background-color: antiquewhite;
    padding: 12px;
   
}

.addform{
    width: 85%;
    /* height: 100%; */
    display: flex;
    justify-content: end;
    /* border:solid 1px */
}

.hobby{
    margin: 0;
    width: 100%;
    height: auto;
    background-color: antiquewhite;
    padding: 12px;
    display: flex;
    flex-direction: column;
}